.pole {
    background-color: black;
    width: 20px;
    display: inline-block;
    margin: 100px

}

.disk {
    background-color: blue;
    margin: 3px;
}

.disknumberinputbox {
    width:300px; height: 30px; margin:30px 30px 30px 600px;
}
